.autogallery {
  text-align: center;
  background-color: lightgray;
  padding: 1em;
  border-radius: 10px;
}

.autogallery-img {
  height: 10em;
  display: inline-block;
}

.inline-image-parent {
  text-align: center;
  background-color: lightgray;
  padding-bottom: 0.2em;
  border-radius: 10px;
}

.text-after-img {
  font-style: italic;
}
