<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container" id="topmenu">
          <h3 class="masthead-title">
            <p class="alignleft">
              <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
              <small>
                <a href="/japan">#japan</a> | <a href="/tech">#tech</a> | <a href="/security">#security</a> | <a href="https://hu.szabo.jp/">#🇭🇺</a>
              </small> 
            </p>
            <p class="alignright">
              <small>
                <a href="https://follow.it/cwmaeb?action=followPub" id="followlink">✉️Subscribe</a>
              </small>
            </p>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
    <script src='{{ site.baseurl }}/public/js/lightboxforimages.js'></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/lightbox.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lightbox.css">
    <!-- Cookie-less, Privacy Focused Analytics - https://getinsights.io/ -->
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
    if(!document.cookie.includes("donttrackitsme")){ // disable analytics for mys own siteloads
        insights.init('Q8c2JXuQifj3JKNw');
        insights.trackPages();
    }
    </script>
  </body>
</html>
